<div class="col-lg-4 col-md-5">
    <div class="blog__sidebar">
        <div class="blog__sidebar__search">
            <form action="#">
                <input type="text" placeholder="Search...">
                <button type="submit"><span class="icon_search"></span></button>
            </form>
        </div>
        <div class="blog__sidebar__item">
            <h4>Categories</h4>
            {% for c in blog_categories %}
            <ul>
                <li><a href="{% url 'blog:blog-category' c.cid %}">{{ c.title }} ({{c.categories.count}})</a></li>
            </ul>
            {% endfor %}
        </div>
        <!-- <div class="blog__sidebar__item">
            <h4>Recent News</h4>
            <div class="blog__sidebar__recent">
                <a href="#" class="blog__sidebar__recent__item">
                    <div class="blog__sidebar__recent__item__pic">
                        <img src="img/blog/sidebar/sr-1.jpg" alt="">
                    </div>
                    <div class="blog__sidebar__recent__item__text">
                        <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                        <span>MAR 05, 2019</span>
                    </div>
                </a>
                <a href="#" class="blog__sidebar__recent__item">
                    <div class="blog__sidebar__recent__item__pic">
                        <img src="img/blog/sidebar/sr-2.jpg" alt="">
                    </div>
                    <div class="blog__sidebar__recent__item__text">
                        <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                        <span>MAR 05, 2019</span>
                    </div>
                </a>
                <a href="#" class="blog__sidebar__recent__item">
                    <div class="blog__sidebar__recent__item__pic">
                        <img src="img/blog/sidebar/sr-3.jpg" alt="">
                    </div>
                    <div class="blog__sidebar__recent__item__text">
                        <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                        <span>MAR 05, 2019</span>
                    </div>
                </a>
            </div>
        </div> -->
        <div class="blog__sidebar__item">
            <h4>By Tags</h4>
            <div class="blog__sidebar__item__tags">
                {% for random_tag in random_blog_tags %}
                <a href="{% url 'blog:blog-tag' random_tag.slug %}">#{{ random_tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>