{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Account{% endblock title %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <ul> 
                        {% for c in categories %}
                        <li><a href="{% url 'core:category-product-list' c.cid %}">
                        {{ c.title }}
                    	</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url 'core:search' %}" method="GET">
                            <!-- <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div> -->
                            <input type="text" placeholder="What do yo u need?" name="q">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Account</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'core:index' %}">Home</a>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <span>Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Account Section Start -->
<section class="my-5">
	<div class="container">
		<!-- <h1 class="mb-5">Account Settings</h1> -->
		<div class="custom-grey-bg shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4">
					<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="img-circle text-center mb-3">
						<img src="{{ user.image.url }}" alt="User" class="shadow">
						<!-- <input type="file" name="image"> -->
					</div>
					</form>
					<h4 class="text-center">{{ user.name }}</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a href="#account" class="nav-link active" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center mr-1"></i>
						Account
					</a>
					<!-- <a href="#password" class="nav-link" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="false">
						<i class="fa fa-key text-center mr-1"></i>
						Password
					</a>
					<a href="#security" class="nav-link" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="false">
						<i class="fa fa-user text-center mr-1"></i>
						Security
					</a>
					<a href="#application" class="nav-link" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="false">
						<i class="fa fa-tv text-center mr-1"></i>
						Application
					</a>
					<a href="#notification" class="nav-link" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="false">
						<i class="fa fa-bell text-center mr-1"></i>
						Notification
					</a>
					<a href="#singout" class="nav-link" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="false">
						<i class="fa fa-sign-out text-center mr-1"></i>	
						Sing out
					</a> -->
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
					{% if messages %}
						{% for message in messages %}
					        <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
					            <div id="form_errors">
					                    <strong>{{ message }}</strong>   
					            </div>
					            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
					        </div>
				        {% endfor %}
				    {% endif %}
					<h3 class="mb-4">Account Settings</h3>
					<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Full Name</label>
								<input name="name" type="text" class="form-control" value="{{ user.name }}" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Username</label>
								<input required name="username" type="text" class="form-control username-validation" value="{{ user.username }}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Phone Number</label>
								<input name="phone" type="text" class="form-control" value="{{ user.phone }}" placeholder="+12 345 678 9876">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Email</label>
								<input disabled type="text" class="form-control" value="{{ user.email }}">
							</div>
						</div>
						<!-- <div class="col-md-6">
							<div class="form-group">
								<label>Company</label>
								<input type="text" class="form-control" value="">
							</div>
						</div> -->
						<!-- <div class="col-md-6">
							<div class="form-group">
								<label>Designation</label>
								<input type="text" class="form-control" value="">
							</div>
						</div> -->
						<div class="col-md-12">
							<div class="form-group">
								<label>Bio</label>
								<textarea  name="bio" class="form-control" rows="4" placeholder="Something About Yourself">{{ user.bio }}</textarea>
							</div>
						</div>
						<div class="col-md-6">
						    <div class="form-group">
						        <label>Upload Photo</label>
						        <!-- <div class="input-group"> -->
						            <div class="custom-file">
						                <input name="image" type="file" class="custom-file-input" id="customFile" onchange="updateFileName()">
						                <label class="custom-file-label" for="customFile" id="fileNameLabel">Choose file</label>
						            </div>
						            <!-- <div class="input-group-append ml-2">
						                <button class="btn btn-danger" type="button">Remove Photo</button>
						            </div> -->
						        <!-- </div> -->
						    </div>
						</div>
					</div> 
					<div>
						<button type="submit" class="btn btn-primary">Update</button>
						<button class="btn btn-light">Cancel</button>
					</div>
					</form>
				</div>
				<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
					<h3 class="mb-4">Password Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Old password</label>
								<input type="password" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>New password</label>
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Confirm password</label>
								<input type="password" class="form-control">
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
						<button class="btn btn-light">Cancel</button>
					</div>
				</div>
				<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
					<h3 class="mb-4">Security Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Login</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Two-factor auth</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="recovery">
									<label class="form-check-label" for="recovery">Recovery</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
						<button class="btn btn-light">Cancel</button>
					</div>
				</div>
				<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
					<h3 class="mb-4">Application Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="">
									<label class="form-check-label" for="">Lorem ipsum dolor sit amet.</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="">
									<label class="form-check-label" for="">Lorem, ipsum, dolor sit amet consectetur adipisicing.</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
						<button class="btn btn-light">Cancel</button>
					</div>
				</div>
				<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
					<h3 class="mb-4">Notification Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="">
									<label class="form-check-label" for="">Lorem ipsum dolor sit amet.</label>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="">
									<label class="form-check-label" for="">Lorem, ipsum, dolor sit amet consectetur adipisicing.</label>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="">
									<label class="form-check-label" for="">Lorem, ipsum, dolor sit amet consectetur adipisicing.</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="btn btn-primary">Update</button>
						<button class="btn btn-light">Cancel</button>
					</div>
				</div>
				<div class="tab-pane fade" id="singout" role="tabpanel" aria-labelledby="singout-tab">
					<h3 class="mb-4">Sing Out</h3>
					<div class="row">
						
					</div>
					<div>
						<button class="btn btn-primary">Sing Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Account Section End -->

{% endblock content %}