{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Tag{% endblock title %}

{% block content %}

{% include 'partials/hero-section.html' %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>#{{tag.name}}</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'core:index' %}">Home</a>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <a href="{% url 'blog:blog' %}">Blog</a>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <span>Tag</span>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <span>#{{tag.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            {% include 'partials/blog-sidebar.html' %}
            <div class="col-lg-8 col-md-7">
                <div class="row">
                	{% for p in posts %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <a href="{% url 'blog:blog-detail' p.pid %}"><img src="{{ p.image.url }}" alt=""></a>
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ p.date_created|date:"d M, Y" }}</li>
                                    <li><i class="fa fa-comment-o"></i> {{ p.comments.count }}</li>
                                </ul>
                                <h5><a href="{% url 'blog:blog-detail' p.pid %}">{{ p.title }}</a></h5>
                                <p>{{ p.subtitle|truncatechars:150 }}</p>
                                <a href="{% url 'blog:blog-detail' p.pid %}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->


{% endblock content %}