<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">{{ totalcartitems }} Product{{ totalcartitems|pluralize }}</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_id, item in cart_data.items %}
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="{{ item.image }}" alt="">
                                    <h5>{{ item.title }}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    ${{ item.price|floatformat:2 }}
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="{{ item.qty }}" class="product-qty-{{ product_id }}">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    ${% widthratio item.price 1 item.qty %}
                                </td>
                                <td class="shoping__cart__item__close">
                                    <button class="update-product" data-product="{{ product_id }}" style="border: none; background: none;"><i class="fa fa-retweet"></i></button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="delete-product" data-product="{{ product_id }}" style="border: none; background: none;"><i class="fa fa-trash"></i></button> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="{% url 'core:products-list' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <!-- <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>${{ cart_total_amount|floatformat:2 }}</span></li>
                        <li>Total <span>${{ cart_total_amount|floatformat:2 }}</span></li>
                    </ul>
                    {% if totalcartitems %}
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function (){
        var proQty = $('.pro-qty');
        proQty.prepend('<span class="dec qtybtn">-</span>');
        proQty.append('<span class="inc qtybtn">+</span>');
        proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);
        });
    })
</script>
<!-- Shoping Cart Section End -->